*{
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper{
    width: 80vw; /*hardware so we use vw*/
    background-color: blueviolet;
    margin: 0 auto;
}

#nav-main{
    width: 100%; /*relative to parent so we use percentage*/
    display: flex;
    flex-direction: row;
}

main{
    width: 70%;
    height: 100vh;
    text-align: center;
    font-size: calc(2px + 1.5vw);
}

main *{
    margin: 2%;
}

nav{
    width: 30%;
    background-color: blanchedalmond;
}

nav ul{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li{
    border: 3px solid white;
    margin: 5% auto;
    width: 80%;
    padding: 1%;
    text-align: center;
}

nav a{
    color: aquamarine;
    font-size: calc(2px + 1.5vw);
    text-decoration: none;
}